*{
      margin: 0%;
     padding: 0%;

}



.cabecalho {
      background-image: url("download.jpeg");
      color:  #01040956;
      padding: 35px;
      display: flex;
      justify-content: right;
      
}

.cabecalho-lista-item {
      display: inline-block;
      margin: 0 16px;
      font-size: 30px ;
      font-family: 'Concert One';
      
     
     


}
 
   a {
    
       color: rgb(7, 136, 39);


   }
   .turma {
           align-items: center;





   }
   body{
      background-image: conic-gradient(rgb(61, 59, 59) 45deg, rgb(0, 139, 74) 90deg, rgb(61, 59, 59) 90deg);
     
      
      


   }